<mat-toolbar color="primary">
    <button mat-icon-button (click)="myDrawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="menu"></span>
    <button mat-button routerLink="/admin/home" routerLinkActive="active-list-item_hori">Home</button>
    <button mat-button routerLink="/admin/profile" routerLinkActive="active-list-item_hori">Profile</button>
    <button *ngIf="authService.roles.includes('ADMIN')" mat-button [matMenuTriggerFor]="importMenu">
        <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
        Import
    </button>
    
    <mat-menu #importMenu>
        <button mat-menu-item routerLink="/admin/loadStudents" routerLinkActive="active-list-item_hori">Load Students</button>
        <button mat-menu-item routerLink="/admin/loadPayments" routerLinkActive="active-list-item_hori">Load Payments</button>
    </mat-menu>

    <button mat-button *ngIf="authService.isAuthentificated" i18n>
        Hello "{{authService.username}}"
    </button>

    <button mat-raised-button color="accent" (click)="logout()">Logout</button>


    <button mat-button [matMenuTriggerFor]="importLanguage">
        <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
        Language
    </button>

    <mat-menu #importLanguage>
        <button mat-menu-item (click)="changeLang('fr')">FR</button>
        <button mat-menu-item (click)="changeLang('en')">EN</button>
        <button mat-menu-item (click)="changeLang('ar')">AR</button>
    </mat-menu>


</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #myDrawer opened="true" mode="side" position="start">
        <mat-list>
            <mat-list-item>
                <button mat-button routerLink="/admin/dashbord" routerLinkActive="active-list-item">
                    <mat-icon>dashboard</mat-icon>
                    Dashbord
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/students" routerLinkActive="active-list-item">
                    <mat-icon>perm_identity</mat-icon>
                    Students
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/payments" routerLinkActive="active-list-item">
                    <mat-icon>euro_symbol</mat-icon>
                    Payments
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/cours" routerLinkActive="active-list-item">
                    <mat-icon>library_books</mat-icon>
                    Cours
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-container>
        <div class="container-menu">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</mat-drawer-container>
