

.icon-eye {
    margin-bottom: -10px;
    margin-left: 10px;
}

.separer-card {
    margin-top: 20px;
}

.icon-close {
    margin-bottom: -5px;
}

.infos-student {
    font-weight: bold;
    font-size: 16px;
}

.padding-header {
    padding-bottom: 30px;
}