<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Détails Payments Etudiant
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-toolbar>
                <button (click)="addPayment()" [disabled]="!isAdmin" mat-raised-button color="primary">Ajouter Payment</button>
                <a class="link_return"  routerLink="/admin/students">
                    <mat-icon>keyboard_return</mat-icon>
                    retour liste étudiants
                </a>
                
            </mat-toolbar>
            <div class="top-contenue">
                <h1>List des payments pour l'étudiant : "{{firstNameStudent}}"</h1>
            </div>

            @if (showProgress) {
                <mat-spinner></mat-spinner>
            }

            <table mat-table matSort [dataSource]="dataSourcePayment" class="mat-elevation-z8">

              
                <!-- id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Payment </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <!-- date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
              
                <!-- amount Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>
              
                <!-- type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <!-- firstName Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Etudiant </th>
                    <td mat-cell *matCellDef="let element"> {{element.student.firstName}} </td>
                </ng-container>

                <!-- details Column -->
                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button mat-raised-button color="primary" (click)="paymentDetails(element)">Détails</button>
                        <button mat-raised-button color="warn" [disabled]="!isAdmin" (click)="deletePayment(element)">Suprimer</button>
                        <button mat-raised-button color="success" [disabled]="!isAdmin" (click)="updatePayment(element)">Modifier</button>
                    </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 40]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
            </mat-paginator>

        </mat-card-content>
    </mat-card>
</div>
